---
---

@charset "utf-8";
@import url('https://rsms.me/interface/interface.css');

*{
	margin: 0;
	padding: 0;
}

body{
	//background-color: #000;
	background-color: #f8f8f8;
	//font-family: 'Space Mono', monospace;
	font-family: Interface, sans-serif;
}

/* Back to Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 200px; /* Rounded corners */

    &:hover{
    	background-color: #084BD1;
    }
}

/* Navigation */
nav{
	background-color: #fff;
	border-top: 5px solid #000;
	padding: 20px 0;
	margin-bottom: 5px;
	text-align: center;

	img{
		width: 60px;
	}

	.sideLinks{
		margin-top: 15px;
		display: block;

		a{
			margin: 5px;
			color: #898989;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 11px;
			display: inline-block;

			&:hover{
				color: #000;
			}
		}
	}
}

/* Showcase of the Week */
.showcaseBox{
	background-color: #fff; 
	margin: 20px auto;

	p{
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		padding: 8px 0;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;

		.fp-showcase{
			vertical-align: middle;
			color: #898989;
			margin-left: 5px;
			margin-right: 10px;
			font-size: 12px;
			font-weight: 500;
		}
	}

	img{
		text-align: center;
		display: block;
		width: 100%;
	}
}

/* Showcase of the Day */
#showcaseOTD{
	font-size: 25px;

	.showcaseOTDPhoto{
		width: 100%;
		display: block;
	}
}

.post-list{
	margin: 20px 0;

	.post{
		display: block;
		padding: 20px;
		background-color: #fff;
		margin: 20px 0;
		.postDate{
			p{
				margin: 10px 0;
				color: #696969;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 15px;
			}
		}

		.postContent{
			p{
				font-size: 20px;
			}
			a{
				text-transform: uppercase;
				margin: 10px 0;
				font-size: 20px;
				font-weight: 500;
				color: #000;
				text-decoration: none;
				display: block;
				-webkit-transition: 0.2s; /* Safari */
    			transition: 0.2s;
			}
		}
	}
}

/* Subscribe Form */
.subscribeForm{
	color: #fff;
	margin: 0 auto;
	padding: 10px 20px;
	//background-color: #084BD1;
	background-color: #333;

	.subscribeUpdate{
		padding: 10px 0;
		text-transform: uppercase;
		font-size: 10px;
		color: #fff;

		span{
			color: #929292;
		}
	}

	p{
		margin: 0 auto;
		font-size: 23px;
	}

	.subTagline{
		text-align: center;
		margin: 10px 0;
		font-size: 10px;
	}

	.inline-subscribe{
		vertical-align: middle;
		overflow: hidden;
	}

	.subscribeInput{
		margin: 10px 0;
		width: 100%;
		text-align: center;
		background-color: #f6f6f6;
		padding: 7px 0;
		outline: 0;
		font-size: 12px;
		border: none;
		text-transform: uppercase;
	}

	.subscribeInput[type="text"]{
		color: #000;
	}

	.subscribeBtn{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		background-image: linear-gradient( 135deg, #FAD7A1 0%, #E96D71 100%);
		color: #fff;
		border: none;
		font-size: 12px;
		padding: 7px;
	}
}

/* Footer */
footer{
	color: #fff;
	background-color: #000;
	margin-top: 30px 0;
	padding: 20px;

	.subscribeInput{
			margin: 10px 0;
			width: 100%;
			text-align: center;
			background-color: #f6f6f6;
			padding: 7px 0;
			outline: 0;
			font-size: 12px;
			border: none;
			text-transform: uppercase;
	}

	.subscribeInput[type="text"]{
		color: #000;
	}

	.subscribeBtn{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		background-image: linear-gradient( 135deg, #FAD7A1 0%, #E96D71 100%);
		color: #fff;
		border: none;
		font-size: 12px;
		padding: 7px;
	}

	p{
		text-transform: uppercase;
		font-size: 10px;
		color: #929292;
	}
}



