<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loud Saturdaze</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/simple-grid.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700" rel="stylesheet" text="text">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
</head>

<body>

<!-- <img src="{{ site.baseurl }}/assets/placeholderlogo.png" /> -->

<!-- <div class="middle-logo">
  <a href="">Loud Saturdaze</a>
</div> -->

<button onclick="topFunction()" id="myBtn" title="Go to top"><i data-feather="corner-right-up"></i></button>

<div class="container">

<nav>
  <img src="{{ site.baseurl }}/assets/ExamplePlaceholder.png"/>
  <div class="sideLinks">
    <a href="">About</a>
    <a href="">Submissions</a>
    <a href="">Promote</a>
    <a href="">Instagram</a>
    <a href="">Twitter</a>
    <a href="">RSS</a>
  </div>
</nav>

  {{ content }}
</div>

  <!-- 
  Coloring for Navigation bar
  Each day has a different color behind with a curated playlist
  Monday - sky blue, mondays suck so uplifitng shit
  Tuesday - yellow, filler day
  Wednesday - green , Humpday" 
  Thursday - purple, wavy, lean shit
  Friday - red, turn up crazy music
  Saturday - white, pure, cleansed 
  Sunday - orange, we shall see
  -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script type="text/javascript">feather.replace()</script>
</body>
</html>